In [1]:
# Que-1) Write a program which will find all such numbers which are 
#        ddivisible by 7 but not a multiple of 5, between 2000 and 3200
#        both included). The numbers obtained should be printed in a 
#        comma separated value sequence on a line. 


emptyList = [] # to store all values between 2000 and 3200
for i in range(2001,3201): 
    if (i % 7 == 0) and (i % 5 == 0):
        emptyList.append(str(i))
print(emptyList) #It will show all values in the form of string, we want them in a comma separated format.
print('***********************************************************')
print(','.join(emptyList)) # join function will separate all value in the comma separated form.

['2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695', '2730', '2765', '2800', '2835', '2870', '2905', '2940', '2975', '3010', '3045', '3080', '3115', '3150', '3185']
***********************************************************
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [1]:
# Que-2) write a program to accept users first name and last name and then getting them printed 
#        in the reverse order with a space between first name and last name
    
first_name = input("Enter name: ") # accepting first name
last_name = input("Enter name: ")   # accepting first name
full_name = first_name +" "+ last_name
print(f'full name is: { full_name}')
print(f'reversed of fist name and last name is: {first_name[::-1]+" "+last_name[::-1]}')

Enter name: ganesh
Enter name: gunjal
full name is: ganesh gunjal
reversed of fist name and last name is: hsenag lajnug

In [3]:
# Que-3)  write a python program to find the volume of a sphere with 
#         diameter 12 cm.
#         we have formula   V=(4/3)*Ï€*r*r*r
#         here diameter is 12 cm. So radius is 6 cm. 
# we have    
# pi = 3.1415926535897931
# r= 6.0

Volume = (4/3)*3.1415*6*6*6
print('Volume of given Sphere is',round(Volume,3))

Volume of given Sphere is 904.752